@import "tailwindcss";

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html{
  overflow-x: hidden;
}


button{
  transition: scale 0.4s linear;
}

button:active{
  scale: 0.7;
}


.sidebar{
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  left: 0;
}


.main {
  margin-top: 100px;
  margin-left: 300px;
  
}



.hero {
  min-height: 100vh;
  /* color: #beb5ab; */
 
}

.wishlist {
  min-height: 100vh;
  /* color: #beb5ab; */
 
}

